.Color {
    background-color: cornflowerblue;
}
.Textcolor {
    color: darkorchid;
}
.first {
    color: chartreuse;
}
.second {
    background-color: cyan;
}
.third {
    color: lightskyblue;
<<<<<<< HEAD
}
.one {
    height: 180px;
    width: 900px;
    background-color: aliceblue;
}
.two {
    height: 180px;
    width: 900px;
    background-color: rgb(4, 0, 255);
}
.tree {
    height: 180px;
    width: 900px;
    background-color: rgb(255, 0, 0);
=======
>>>>>>> f3e7defaf5599e1353810dcb22da58ef8390873e
}